*{
    padding: 0;
    margin: auto;
}
body{
    background-color: #AA0111CC;
}
.peque{
    width: 20px;
    height: 20px;
    border: 6px solid rgb(90,50,65);
}
.inicio{
    width: 20px;
    height: 20px;
}
.invi{
    display: none;
}